@charset "utf-8";

.info{background-color:  #eaedf7;}

.title{padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;}

h1{ color: #522f60;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;}

.atention{  text-align: center;
            font-weight: 600;
            line-height: 2;
            padding-bottom: 20px;
        }