@charset "utf-8";

h1{ color: #522f60;
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
  }

.container {
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 40px; 
  padding-bottom: 30px;
}

.photos {
  padding-left: 20px;
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  max-width: 600px;
}

.photos img {
  width: 400px;
  height: auto;}

.text {
  padding-right: 20px;
  max-width: 800px;
  line-height: 1.5;
}